footer{
    box-shadow: 0 0 5px rgba(121, 121, 121, 0.3);
    margin-top: -35px;
    padding: 10px;

    h6{
        font-weight: bold;
        line-height: 1.5;
        a{
            text-decoration: none;
            color: blue;
        }
    }
}
